<div class="main-page">
  <h1 style="text-align: center; background-color: rgb(204, 248, 233)">
    Welcome to myFlix!
  </h1>
  <div style="text-align: center">
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px"
      color="primary"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="openUserLoginDialog()"
      style="margin-right: 10px"
    >
      Login
    </button>
  </div>
</div>
